* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: x-large;
}

.container {
    width: 1440px;
    margin: 2rem auto;
}

.product {
    position: relative;
    float: left;
    width: 33.33%;
    padding-right: 0.5rem;
}

.product img {
    width: 100%;
    transition: all;
}

.foto_1 {
    width: 100%;
    transition: all;
}

img:hover {
    opacity: 0;
}

.foto_2 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.etichette {
    position: absolute;
    left: 0;
    bottom: 7.5rem;
}

.discount {
    background-color: red;
    color: white;
    padding: 0.2rem 0.3rem;
    display: inline-block;
}

.sostenibility {
    background-color: green;
    color: white;
    padding: 0.2rem 0.3rem;
    display: inline-block;
}

.like {
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    text-align: center;
    line-height: 50px;
    top: 1rem;
    right: 0.5rem;
    font-size: xx-large;
}

.capo {
    text-transform: uppercase;
    font-weight: bold;
}

.new {
    color: red;
    font-weight: bold;
}

.old {
    text-decoration: line-through;
}